.header{
  .header-top{
    width: 100%;
    justify-content: space-between;
    .search{
      width: 20%;
      margin-left: 30px;
    }
    .right{
      width: 30%;
      .header-top-right{
        width: 80%;
        justify-content: right;
      }
    }

  }
  .header-bot{
    width: 100vw;
    .header-bot-item{
      margin: 0 auto;
    }
  }

}
