<div class="container-fluid d-flex gap-2 p-5" *ngIf="product !=null" style="margin-top: 100px;">
  <div class="left col-3 border-end">
    <h5 class="fs-6 text-uppercase">Sản phẩm</h5>
    <div class="col-1 bg-secondary mt-3 mb-3" style="height: 3px"></div>
    <div class="d-flex pt-2 " style="cursor: pointer"  *ngFor="let p of relateProduct | slice:0:4" routerLink="/product/{{p.id}}">
      <img src="{{p.img}}"
           alt=""
           class="img-fluid" style="width: 15%;">
      <div>
        <span class="d-block ms-2">{{p.name}}</span>
        <span class="d-block ms-2 fw-bold"> {{p.price | currency: 'VND'}}</span>
      </div>
    </div>
  </div>
  <div class="right col-9">
    <div class="d-flex gap-3 text-dark-50">
     <div class="col-4">
       <img src="{{product.img}}" alt="" class="img-fluid h-75">
     </div>
      <div >
        <h5 class="fs-6 text-uppercase" *ngIf="category != null">
          TRANG CHỦ / {{category.name}}/ {{subCategory?.name}}
        </h5>
        <h4 class="fs-3">
          {{product.name}}
        </h4>
        <div class="col-1 bg-secondary mt-3 mb-3" style="height: 5px"></div>
        <span class= "fs-3 ">{{product.price | currency : 'VND'}}</span>

        <div class="d-flex pt-4 ">
          <input type="button" (click)="minus()" value="-" class="d-inline-block  border" style="min-width: 25px; height: 40px">
          <input [(ngModel)]="qty" oninput="validity.valid||(value='1');" type="number" min="1"name="0" id="" value="1" class="d-inline-block border outline text-center"
                 style="outline:none; width: 45px; height: 40px">
          <input type="button" (click)="plus()" value="+" class="d-inline-block border" style="min-width: 25px;height: 40px">
          <button type="button" (click)="addToCart()" class="btn btn-warning d-inline-block ms-5 shadow-none text-uppercase">Thêm vào giỏ</button>
        </div>
        <div class="fs-8 border-top mt-5">Danh mục: {{subCategory?.name}}</div>
      </div>
    </div>
  </div>
</div>
