<section class="background-radial-gradient overflow-hidden">

  <div class="px-4 py-4 px-md-5 text-center text-lg-start">
      <div class="position-relative" style="width: 450px;margin:auto; padding-top: 7rem">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <h1 class="mb-2">Đăng kí</h1>
            <form id="registerForm" (ngSubmit)="onSubmit(authForm)" #authForm="ngForm">
              <div class="row">
                <div class="col-md-6 mb-3">
                  <mdb-form-control class="w-100">
                    <input mdbInput type="Text" id="fname" ngModel name="fname" required #fname="ngModel" class="form-control"/>
                    <label mdbLabel class="form-label" for="fname">Họ</label>
                  </mdb-form-control>
                  <small id="hoVal" class="text-danger mb-3" *ngIf="!fname?.valid && (fname?.dirty || fname?.touched)">
                    *Họ không được để trống
                  </small>
                </div>
                <div class="col-md-6 mb-3">
                  <mdb-form-control class="w-100">
                    <input mdbInput type="text" id="lname" class="form-control" required ngModel name="lname" #lname="ngModel"/>
                    <label mdbLabel class="form-label" for="lname">Tên</label>
                  </mdb-form-control>
                  <small id="tenVal" class="text-danger mb-3" *ngIf="!lname?.valid && (lname?.dirty || lname?.touched)">
                    *Tên không được để trống
                  </small>
                </div>
              </div>
              <!-- Email input -->
              <div class=" mb-3">
              <mdb-form-control class="w-100">
                <input mdbInput type="email" id="email" class="form-control" ngModel name="email" required #email="ngModel"/>
                <label mdbLabel class="form-label" for="email">Email</label>
              </mdb-form-control>
                <small id="emailVal" class="text-danger mb-3" *ngIf="!email?.valid && (email?.dirty || email?.touched)">
                  *Email không hợp lệ
                </small>
              </div>
              <!-- Password input -->
              <div class=" mb-3">
              <mdb-form-control class="w-100">
                <input mdbInput type="password" id="password" class="form-control" minlength="6" required ngModel name="password" #password="ngModel"/>
                <label mdbLabel class="form-label" for="password">Mật khẩu</label>
              </mdb-form-control>
                <small id="passVal" class="text-danger mb-3" *ngIf="!password?.valid && (password?.dirty||password?.touched) ">
                  *Mật khẩu không hợp lệ
                </small>
              </div>
              <div class="mb-3">
              <mdb-form-control class="w-100 ">
                <input mdbInput type="password" id="repassword" ngModel name="rePassword" required #rePassword="ngModel" minlength="6" class="form-control"/>
                <label mdbLabel class="form-label" for="repassword">Nhập lại mật khẩu</label>
              </mdb-form-control>
                <small id="rePassVal" class="text-danger mb-3" *ngIf="!rePassword?.valid && (rePassword?.dirty||rePassword?.touched)">
                  *Mật khẩu không hợp lệ
                </small>
              </div>
              <!-- Submit button -->
              <button type="submit" class="btn btn-danger btn-block mb-4" [disabled]="!authForm.valid ||  !checkPass(password?.value, rePassword?.value)">
                Đăng kí
              </button>
             <div class="text-center mb-4">
               <a [routerLink]="['/login']">Đăng nhập</a>
             </div>
              <!-- Register buttons -->
              <div class="text-center">
                <p>Hoặc đăng kí với:</p>
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-facebook-f"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-google"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-twitter"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-github"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>
</section>



