
<section class="background-radial-gradient overflow-hidden">
  <div class="container px-4 py-4 px-md-5 text-center text-lg-start">
    <div class="mb-3 mb-lg-0 position-relative" style="width: 450px;margin: 7rem auto;">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <h1>Đăng nhập</h1>
            <p>Hãy đăng nhập tài khoản của bạn</p>
            <form id="loginForm" (ngSubmit)="onSubmit(authForm)"  #loginForm="ngForm" #authForm="ngForm" >
              <div class="mb-3">
              <mdb-form-control class="w-100 ">
                <input mdbInput type="email" id="email" class="form-control" ngModel name="email" required #email="ngModel"/>
                <label mdbLabel class="form-label" for="email">Email</label>

              </mdb-form-control>
              <small id="emailVal" class="text-danger mb-3" *ngIf="!email?.valid && (email?.dirty || email?.touched)">
                *Email không hợp lệ
              </small>
              </div>
              <!-- Password input -->
              <div class="mb-3">
              <mdb-form-control class="w-100">
                <input mdbInput type="password" id="password" class="form-control" ngModel name="password" minlength="6" required #password="ngModel"/>
                <label mdbLabel class="form-label" for="password">Mật khẩu</label>

              </mdb-form-control>
              <small id="passVal" class="text-danger mb-3" *ngIf="!password?.valid && (password?.dirty || password?.touched)">
                *Mật khẩu không hợp lệ
              </small>
              </div>
              <!-- Submit button -->
              <button type="submit" class="btn btn-danger btn-block mb-4" [disabled]="!loginForm.valid">
                Đăng nhập
              </button>
              <a href="#">Quên mật khẩu?</a><br>
              <span>Chưa có tài khoản?<a [routerLink]="['/register']">Đăng kí</a></span>
              <!-- Register buttons -->
              <div class="text-center">
                <p>Hoặc đăng nhập với:</p>
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-facebook-f"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-google"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-twitter"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-github"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>
</section>


