<td class="w-50">
  <div class="d-flex  align-items-center ">
    <i class="fa-solid fa-circle-xmark h4" style="cursor: pointer;" (click)="removeItem(item)"></i>
    <img src="{{item.product.img}}" alt="" class="img-fluid w-25 me-2 ms-2" style="height: 75px; width: 75px">
    <a routerLink="/product/{{item.product.id}}" class="text-dark">{{item.product.name}} </a>
  </div>
</td>
<td class="align-middle">{{item.product.price | currency: 'VND'}}</td>
<td class="align-middle">
  <input (click)="minusProduct(item)" type="button" value="-" class="d-inline-block   border" style="min-width: 25px">
  <input type="number" name="0" id="" value="{{item.quantity}}" class="d-inline-block border outline text-center"
         style="outline:none; width: 40px">
  <input (click)="plusProduct(item)" type="button" value="+" class="d-inline-block border" style="min-width: 25px">

</td>
<td class="align-middle">{{item.getTotal() | currency:"VND"}}</td>
