.header {
  .header-top {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #ded6d6;

    .search {
      width: 20%;
      margin-left: 30px;

      #search-addon {
        margin: 5px 0;
      }
    }

    .logo-header {
      margin: 5px 0;
    }

    .right {
      width: 30%;

      .header-top-right {
        width: 80%;
        justify-content: center;
        align-items: center;

        a {
          padding-left: 5px;

          i {

            color: #363636;
            font-size: 20px;
            transition: all 0.3s;
          }

          i:hover {
            color: black;
            transform: scale(1.2);
          }
        }

        a:first-child {
          padding-right: 5px;
        }

      }
    }

  }

  .header-bot {
    width: 100vw;
    text-align: center;

    .header-bot-item {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;

      ul {
        li {
          a{
            color: black;
            transition: all 0.5s;
          }
          a:hover {
            color: #ff003b;
          }
        }

      }
    }
  }

}
