.header {
  .header-top {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #ded6d6;
    position: relative;

    .search {
      width: 20%;
      margin-left: 30px;

      #search-addon {
        margin: 5px 0;
      }
    }

    .search__result{
      ul{
        height: 285px;
        overflow: auto;
        //overflow: -moz-scrollbars-none;
        //-ms-overflow-style: none;
      }
      ul::-webkit-scrollbar{
          width: 0;

      }
      position: absolute;
      z-index: 100;
      top: 55px;
      left: 30px;
      border-radius: 5px;


    }
    .logo-header {
      margin: 5px 0;
    }

    .right {
      width: 30%;

      .header-top-right {
        width: 80%;
        justify-content: center;
        align-items: center;

        a:last-child {
          i {
            font-size: 22px;
            color: #363636;
            transition: all .5s;
          }

          i:hover {
            color: red;
            transform: scale(1.2);
          }
        }

        .login {
          padding-right: 5px;
          color: #313131;
          transition: all 0.5s;
        }
        .login:hover{
          color: red;
        }
        i{
          position: relative;
          .quantity{
            position: absolute;
            font-size: 0.5rem;
            bottom: 10%;
            right: 0;
            background-color: red;
            border-radius: 50%;
            color: #fff !important;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40%;
            height: 40%;
          }
        }

      }
    }

  }

  .header-bot {
    width: 100vw;
    text-align: center;

    .header-bot-item {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;

      ul {
        li {
          position: relative;
          display: inline-block;

          .dropdown-menu{
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            z-index: 1;
            a{
              color: black;
              position: relative;
              width: 195px;
              padding: 12px 16px;
              text-decoration: none;
              display: block;
              a{
                color: black;
              }
            }
            a:hover{
              background-color: #000;
              color: #fff;
              a{
                color: white;
                cursor: pointer;
              }
            }
            //.dropdown-menu{
            //  //display: none;
            //  position: absolute;
            //  left: 196px;
            //  background-color: #f9f9f9;
            //  min-width: 160px;
            //  z-index: 1;
            //  margin-left: 15px;
            //
            //}
            //.dropdown-menu:hover li {
            //
            //  background-color: #000;
            //  color: #fff;
            //  .dropdown-item{
            //    color: white;
            //  }
            //}
          }
          .nav-link {
            display: flex;
            font-weight: 400;
            font-size: 17px;
            color: #000000;
            position: relative;
            padding: 8px 0;
            margin: 0 15px;
            overflow: hidden;
            text-decoration: none;
            transition: .5s;
          }
          .nav-link:before {
            content: '';
            position: absolute;
            top: 0;
            right: 100%;
            width: 50%;
            height: 2px;
            background: #2b2b79;
            transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
          }

          .nav-link:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 100%;
            width: 50%;
            height: 2px;
            background: #f300ff;
            transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
          }
          .nav-link:hover {
            color: #ff0000;
          }
          .nav-link:hover:before {
            right: 0;
          }
          a:hover:after {
            left: 0;
          }
        }
        .dropdown:hover .dropdown-menu{
          display: block;
        }
        .dropdown:hover .dropdown-link{
          background-color: transparent;
        }
      }
    }
  }
}
