<form class="container-fluid m-5 form" #f="ngForm" (ngSubmit)="onSubmit(f)" *ngIf="order == null">
  <div><span class="fs-6">Bạn đã có tài khoản?</span> <a href="" class="text-dark"> Ấn vào đây để đăng nhập</a></div>
  <div class="mb-3"><i class="fa-solid fa-tag me-2 "></i> <a href="" class="text-dark"> Ấn vào đây để nhập mã của
    ban</a></div>
  <div class="d-flex gap-5">
    <div class="col-6 border-top pt-3">
      <span class="fs-5 w-100 text-uppercase d-block">Thông tin thanh toán</span>
      <span class="text-danger"> * Bắt buộc </span>
      <div class="d-flex gap-3">
        <div class="w-50">
          <mdb-form-control>
            <input mdbInput ngModel  type="text" required id="fname" name="firstName" class="form-control "/>
            <label mdbLabel class="form-label"  for="fname">Họ *</label>
          </mdb-form-control>
        </div>
        <div class="w-50">
          <mdb-form-control >
            <input mdbInput ngModel   type="text" required id="lname" name="lastName" class="form-control"/>
            <label mdbLabel class="form-label" for="lname">Tên*</label>
          </mdb-form-control>
        </div>
      </div>
      <div>
        <mdb-form-control>
          <input mdbInput ngModel  type="text" required id="city" name="city" class="form-control"/>
          <label mdbLabel class="form-label" for="city">Tỉnh/Thành phố</label>
        </mdb-form-control>
      </div>
      <mdb-form-control>
        <input mdbInput ngModel type="text"  required id="address" name="address" class="form-control"/>
        <label mdbLabel class="form-label" for="address">Địa chỉ</label>
      </mdb-form-control>
      <mdb-form-control>
        <input mdbInput ngModel type="number" required id="phone" name="phone" class="form-control"/>
        <label mdbLabel class="form-label" for="phone">Số điện thoại</label>
      </mdb-form-control>
      <mdb-form-control>
        <textarea mdbInput ngModel class="form-control" id="textAreaExample" name="mess" rows="4"></textarea>
        <label mdbLabel class="form-label" for="textAreaExample">Message</label>
      </mdb-form-control>
    </div>
    <div class="col-6 border">
      <div class="p-3">
        <table class="table">
          <thead>
          <tr>
            <span class="fs-5  text-uppercase">Đơn hàng của bạn</span>
          </tr>
          <tr>
            <th class="fs-6 font-weight-normal text-uppercase " scope="col">Sản phẩm</th>
            <th class="fs-6 font-weight-normal text-uppercase" scope="col">Tổng cộng</th>
          </tr>
          </thead>

          <tbody>
          <tr>
            <td><span class="fs-6">Bộ bàn ghế ăn gỗ sồi</span> <span class="ms-2">x3</span></td>
            <td><span class="fs-6">300</span></td>
          </tr>
          <tr>
            <th class="fs-6 " scope="col">Tổng cộng</th>
            <th class="fs-6 " scope="col">300</th>

          </tr>
          </tbody>

        </table>
        <button type="submit" [disabled]="f.invalid" class="btn btn-warning shadow-none d-inline-block ms-3">Đặt hàng</button>
      </div>
    </div>
  </div>
</form>
<div *ngIf="order !=null" class="container-fluid">
  <div class="d-flex gap-3 h-100 mt-5 ">
    <div class="col-8">
      <table class="table fs-6">
        <thead>
        <tr><span class="fs-5  text-uppercase">Đơn hàng của bạn</span></tr>
        <tr>
          <th class="text-uppercase "  scope="col">Sản phẩm</th>
          <th  scope="col">Tổng</th>
        </tr>
        </thead>
        <tbody>
        <tr class="fs-6" *ngFor="let item of order?.items">
          <td>{{item.product.name}} <span class="fw-bold">x {{item.quantity}}</span></td>
          <td>{{item.product.price * item.quantity}}</td>
        </tr>
        <tr class="fs-6">
          <th  scope="col">Tổng cộng</th>
          <th  scope="col">{{total }}</th>
        </tr>
        </tbody>
      </table>
    </div>
    <div class=" w-50 ">
      <div class="bg-success rounded p-4">
        <div class="text-center">
          <i class="fa-solid fa-circle-check text-light fs-1 mb-3"></i>
          <h4 class="text-light">Đơn hàng đã được đặt</h4>
        </div>
        <div class="text-light">
          <ul>
            <li>Mã đơn hàng: {{order.id }}</li>
            <li>Ngày: {{order.date |  date:'long' : '' : 'en-US' }} </li>
            <li>Tổng cộng: {{total | currency : 'VND'}} </li>
            <li>Phương thức thanh toán : COD</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
