<section>
  <div id="map-container" class="z-depth-1-half map-container" style="height: 740px">
    <iframe width="1518" height="600" src="https://maps.google.com/maps?q=manhatan&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0" style="border:0" allowfullscreen=""></iframe>
  </div>
</section>
<main>
  <div class="container-fluid mb-5">
    <div class="row" style="margin-top: -140px;">
      <div class="col-md-12">
        <div class="card pb-5">
          <div class="card-body">
            <div class="container">
              <section class="contact-section my-5">
                <div class="card">
                  <div class="row">
                    <div class="col-lg-8">
                      <div class="card-body form">
                        <h3 class="mt-4"><i class="fas fa-envelope pr-2"></i>Liên hệ cho chúng tôi:</h3>
                        <div class="row">
                          <div class="col-md-6">
                            <mdb-form-control>
                              <input mdbInput type="text" id="form1" class="form-control" />
                              <label mdbLabel class="form-label" for="form1">Họ và tên</label>
                            </mdb-form-control>
                          </div>
                          <div class="col-md-6">
                            <mdb-form-control>
                              <input mdbInput type="text" id="form2" class="form-control" />
                              <label mdbLabel class="form-label" for="form2">Email</label>
                            </mdb-form-control>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <mdb-form-control>
                              <input mdbInput type="text" id="form3" class="form-control" />
                              <label mdbLabel class="form-label" for="form3">Số điện thoại</label>
                            </mdb-form-control>
                          </div>
                          <div class="col-md-6">
                            <mdb-form-control>
                              <input mdbInput type="text" id="form4" class="form-control" />
                              <label mdbLabel class="form-label" for="form4">Địa chỉ</label>
                            </mdb-form-control>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <mdb-form-control>
                              <textarea mdbInput class="form-control" id="textAreaExample" rows="4"></textarea>
                              <label mdbLabel class="form-label" for="textAreaExample">Nhập nội dung</label>
                            </mdb-form-control>
                            <button type="button" class="btn btn-outline-info btn-rounded mt-3">
                            GỬI
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 infor">
                      <div class="card-body contact text-center h-100 white-text">
                        <h3 class="my-4 pb-2">Thông tin liên hệ</h3>
                        <ul class="text-lg-left list-unstyled ml-4">
                          <li>
                            <p><i class="fas fa-map-marker-alt p-2 mb-4"></i>Trường Đại Học Nông Lâm Tp.HCM</p>
                          </li>
                          <li>
                            <p><i class="fas fa-phone p-2 mb-4"></i>0234 456 789</p>
                          </li>
                          <li>
                            <p><i class="fas fa-envelope p-2"></i>contact@gmail.com</p>
                          </li>
                        </ul>
                        <hr class="hr-light my-4">
                        <ul class="list-inline text-center list-unstyled">
                          <li class="list-inline-item">
                            <a class="p-2 fa-lg tw-ic">
                              <i class="fab fa-twitter"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a class="p-2 fa-lg li-ic">
                              <i class="fab fa-linkedin-in"> </i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a class="p-2 fa-lg ins-ic">
                              <i class="fab fa-instagram"> </i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
