<footer class="footer text-white text-center">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">Điều hướng</h5>
        <ul class="link list-unstyled mb-0">
          <li>
            <div class="home">
              <a href="#!">Trang chủ</a>
            </div>
          </li>
          <li>
            <div class="product">
              <a href="#!">Sản phẩm</a>
            </div>
          </li>
          <li>
            <div class="about">
              <a href="#!">Về chúng tôi</a>
            </div>
          </li>
          <li>
            <div class="question">
              <a href="#!">Câu hỏi thường gặp</a>
            </div>
          </li>
          <li>
            <div class="terms of service">
              <a href="#!">Điều khoảng dịch vụ</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="footer__mid col-lg-6 col-md-12 mb-4 mb-md-0 text-center">
        <img src="./assets/img/logoHeader.png" alt="" style="width: 120px; height: 60px">
        <p class="mt-4">Kênh bán hàng văn phòng phẩm của chúng tôi có đầy đủ các loại dụng cụ văn phòng phẩm đa dạng
          phong phú.
          Chúng tôi tin rằng sẽ mang đến những dụng cụ văn phòng cần thiết và có ích cho bạn.
          Hãy trải nghiệm cùng chúng tôi.
          Trân trọng cảm ơn quý khách đã tin tưởng mua hàng và sử dụng.</p>
        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-facebook-f"></i>
        </button>
        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-google"></i>
        </button>
        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-twitter"></i>
        </button>
        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-github"></i>
        </button>
      </div>
      <div class="footer__right col-lg-3 col-md-6 mb-4 mb-md-0 ml-4">
        <h5 class="text-uppercase mb-4">THÔNG TIN LIÊN HỆ</h5>
        <p>Địa chỉ: Trường Đại Học Nông Lâm TP.HCM</p>
        <p>Email1: 19130187@st.hcmuaf.edu.vn</p>
        <p>Liên hệ: 045679912</p>
        <p></p>
        <p></p>
      </div>
    </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="#">logo.com</a>
  </div>
</footer>
