<main class="shop">
  <div class="container">
    <div class="sticky row gx-lg-5">
      <div class="fillter col-lg-3 d-block" >
        <!-- Section: Filters -->

        <section>
          <!-- Section: Categories -->
          <section class="mb-5">

            <h5 class="fw-bold mb-4">Danh mục sản phẩm</h5>

            <div class="" *ngFor=" let cate of category index as i " [id]="cate.cateId">
              <div class="d-flex justify-content-between align-items-center">
                <a (click)="getCate([cate.cateId])" id="cate">
                  {{cate.name}}
                </a>
                <i class="fas fa-angle-down " *ngIf="cate.subc" (click)="basicCollapse.toggle()" role="button" [attr.aria-expanded]="!basicCollapse.collapsed" aria-controls="collapseExample"></i>
              </div>
              <!--Collapsed content-->
              <div style="margin: 0 0 0 10px" id="collapseExample" mdbCollapse #basicCollapse="mdbCollapse" >
                <div *ngFor="let sub of cate.subc index as i" (click)="getSubCate([sub.cateId])">
                  <a >{{sub.name}}</a>
                </div>
              </div>
            </div>

          </section>
          <!-- Section: Categories -->


          <!-- Section: Price - radio -->
          <section class="mb-5" data-mdb-filter="price">
            <h5 class="fw-bold mb-4">Giá</h5>

            <div class="form-check mb-3">
              <input
                mdbRadio
                class="form-check-input"
                type="radio"
                name="flexRadioDefault"
                id="radioCondition1"
                min="0"
                max="20000"
                (change)="onChange($event)"
              />
              <label class="form-check-label" for="radioCondition1">
                Dưới 20.000 VNĐ
              </label>
            </div>

            <div class="form-check mb-3">
              <input
                mdbRadio
                class="form-check-input"
                type="radio"
                name="flexRadioDefault"
                id="radioCondition2"
                min="20000"
                max="50000"
                (change)="onChange($event)"
              />
              <label class="form-check-label" for="radioCondition2">
                Từ 20.000 - 50.000 VNĐ
              </label>
            </div>

            <div class="form-check mb-3">
              <input
                mdbRadio
                class="form-check-input"
                type="radio"
                name="flexRadioDefault"
                id="radioCondition3"
                min="50000"
                max="100000"
                (change)="onChange($event)"
              />
              <label class="form-check-label" for="radioCondition3">
                Từ 50.000 - 100.000 VNĐ
              </label>
            </div>

            <div class="form-check mb-3">
              <input
                mdbRadio
                class="form-check-input"
                type="radio"
                name="flexRadioDefault"
                id="radioCondition4"
                min="101000"
                max="99999999"
                (change)="onChange($event)"
              />
              <label class="form-check-label" for="radioCondition4">
                Trên 100.000 VNĐ
              </label>
            </div>
          </section>
          <!-- Section:  Price - radio -->

          <!-- Section: Condition -->

          <!-- Section: Condition -->
        </section>
        <!-- Section: Filters -->
      </div>

      <div class="product col-lg-9">
        <!--Section: Sorting-->
        <section class="mb-6">
          <div class="row justify-content-around" id="array-example-data">
            <div class="col-8 text-lg-start">
              <h1>Sản phẩm</h1>
            </div>

            <div class="col-4">
              <mdb-form-control>
                <mdb-select class="select">
                  <mdb-option *ngFor="let option of options index as i" [value]="option.value" >
                    <a (click)="sort([option.value])">{{option.label}}</a>
                  </mdb-option>
                </mdb-select>
                <label mdbLabel class="form-label">Chọn</label>
              </mdb-form-control>
            </div>

          </div>
        </section>
        <!--Section: Sorting-->

        <!-- Section: Products -->
        <section class="product__card">
          <div class="row gx-xl-5 justify-content-center">
            <div class="col-lg-4 col-6 mb-4 text-lg-start" *ngFor="let products of arrays | paginate: {itemsPerPage:9, currentPage:p};" [id]="products.id">
              <!-- Product card -->
              <div class="card bg-white"  routerLink="/product/{{products.id}}">
                <!-- Product image -->
                <div
                  class=" bg-image ripple shadow-4-soft rounded-6 mb-4 overflow-hidden d-block"
                  data-ripple-color="light">
                  <img src="{{products.img}}" class="w-100" alt="" style="width: 280px; height: 280px"/>

                  <div class="mask">
                    <div
                      class="d-flex justify-content-start align-items-start h-100 p-3" *ngIf="products.discount>0">
                      <span class="badge badge-danger rounded-pill me-2">-{{products.discount}}%</span>
                    </div>
                  </div>

                </div>

                <!-- Product content -->
                <a class="px-3 text-reset card__content mb-1">
                  <p class="fw-bold mb-2">{{products.name}}</p>
                  <div class="row justify-content-around align-items-center">
                    <h5 class="col-10 mb-2">
                      <s class="text-muted me-2 small align-middle" *ngIf="products.discount>0">{{products.price | currency : 'VND'}}</s>
                      <span class="align-middle">{{products.price - (products.price * products.discount / 100) | currency:'VND'}}</span>
                    </h5>

                    <div class="col-2 add__cart" id="success" style="width: 12.6667%"  (click)="addToCart(products)" (click)="stopPropagation($event)">+</div>

                  </div>

                </a>

                <!-- Product content -->
              </div>

              <!-- Product card -->
            </div>


          </div>
        </section>
        <p class="text-center" *ngIf="arrays.length == 0 || product.length==0">Không có sản phẩm nào được tìm thấy</p>
        <!-- Section: Products -->

        <pagination-controls class="pagination pagination-circle  mb-0 justify-content-end" (pageChange)="p = $event"></pagination-controls>
      </div>

    </div>
  </div>
</main>
