<main class="shop">
  <div class="container">
    <div class="sticky row gx-lg-5">
      <div class="fillter col-lg-3 d-block">
        <!-- Section: Filters -->
        <section class="">
          <!-- Section: Categories -->
          <section class="mb-5">
            <h5 class="fw-bold mb-4">Danh mục sản phẩm</h5>

            <div class="" *ngFor=" let cate of category index as i ">
              <!--              <p class="mb-0">-->
              <!--                <a routerLink="/shop?category=+'{{cate.cateId}}'" class="text-reset">{{cate.name}}</a>-->
              <!--              </p>-->

              <div class="d-flex justify-content-between align-items-center">
                <a>
                  {{cate.name}}
                </a>
                <i class="fas fa-angle-down " *ngIf="cate.subc" (click)="basicCollapse.toggle()" role="button"
                   [attr.aria-expanded]="!basicCollapse.collapsed" aria-controls="collapseExample"></i>
              </div>
              <!--Collapsed content-->
              <div class="m-3" id="collapseExample" mdbCollapse #basicCollapse="mdbCollapse">
                <div *ngFor="let sub of cate.subc">

                  <input routerLink="/shop?cateId={{sub.cateId}}" class="form-check-input" type="checkbox" value=""
                         id="sub1"/>
                  <label class="form-check-label" for="sub1"> {{sub.name}} </label>
                </div>
              </div>
            </div>

          </section>
          <!-- Section: Categories -->

          <!-- Section: Condition -->
          <section class="mb-5">
            <h5 class="fw-bold mb-4">Hãng sản xuất</h5>

            <div *ngFor="let nsx of nsx" [id]="nsx.id" class="form-check mb-3">
              <input class="form-check-input" type="checkbox" value="" id="condition1"/>
              <label class="form-check-label" for="condition1"> {{nsx.name}} </label>
            </div>
          </section>
          <!-- Section: Condition -->

          <!-- Section: Price - radio -->
          <section class="mb-5">
            <h5 class="fw-bold mb-4">Giá</h5>

            <div class="form-check mb-3">
              <input
                class="form-check-input"
                type="radio"
                name="radioForm"
                id="radioCondition1"
                checked
              />
              <label class="form-check-label" for="radioCondition1">
                Dưới 20.000 VNĐ
              </label>
            </div>

            <div class="form-check mb-3">
              <input
                class="form-check-input"
                type="radio"
                name="radioForm"
                id="radioCondition2"
              />
              <label class="form-check-label" for="radioCondition2">
                Từ 20.000 - 50.000 VNĐ
              </label>
            </div>

            <div class="form-check mb-3">
              <input
                class="form-check-input"
                type="radio"
                name="radioForm"
                id="radioCondition3"
              />
              <label class="form-check-label" for="radioCondition3">
                Từ 50.000 - 100.000 VNĐ
              </label>
            </div>

            <div class="form-check mb-3">
              <input
                class="form-check-input"
                type="radio"
                name="radioForm"
                id="radioCondition4"
              />
              <label class="form-check-label" for="radioCondition4">
                Trên 100.000 VNĐ
              </label>
            </div>
          </section>
          <!-- Section:  Price - radio -->

          <!-- Section: Condition -->

          <!-- Section: Condition -->
        </section>
        <!-- Section: Filters -->
      </div>

      <div class="product col-lg-9">
        <!--Section: Sorting-->
        <section class="mb-6">
          <div class="row justify-content-around">
            <div class="col-8 text-lg-start">
              <h1>Tất cả sản phẩm</h1>
            </div>

            <div class="col-4">
              <mdb-form-control>
                <mdb-select class="select">
                  <mdb-option *ngFor="let option of options" [value]="option.value">{{
                    option.label
                    }}</mdb-option>
                </mdb-select>
                <label mdbLabel class="form-label">Tất cả sản phẩm</label>
              </mdb-form-control>
            </div>

          </div>
        </section>
        <!--Section: Sorting-->

        <!-- Section: Products -->
        <section class="">
          <div class="row gx-xl-5 justify-content-center">
            <div class="col-lg-4 col-6 mb-4 text-lg-start" *ngFor="let products of product" [id]="products.id">
              <!-- Product card -->
              <div class="cart bg-white">
                <!-- Product image -->
                <div
                  class=" bg-image ripple shadow-4-soft rounded-6 mb-4 overflow-hidden d-block"
                  data-ripple-color="light"
                 routerLink="/product/{{products.id}}">
                  <img src="{{products.img}}" class="w-100" alt="" style="width: 280px; height: 280px"/>

                  <div class="mask">
                    <div
                      class="d-flex justify-content-start align-items-start h-100 p-3" *ngIf="products.discount>0">
                      <span class="badge badge-danger rounded-pill me-2">-{{products.discount}}%</span>
                    </div>
                  </div>
                  <div class="hover-overlay">

                    <div class="mask" style="background-color: hsla(0, 0%, 98.4%, 0.09)">
                      <div class=" d-flex justify-content-center align-items-end h-100 p-0">
                        <div class="add__cart"><a (click)="addToCart(products)">+ Thêm giỏ hàng</a></div>
                      </div>
                    </div>
                  </div>

                </div>

                <!-- Product content -->
                <a href="" class="px-3 text-reset d-block">
                  <p class="fw-bold mb-2">{{products.name}}</p>

                  <ul
                    class="rating mb-2"
                    data-mdb-toggle="rating"
                    data-mdb-readonly="true"
                    data-mdb-value="4"
                  >
                    <li>
                      <i
                        class="far fa-star fa-sm text-primary ps-0"
                        title="Bad"
                      ></i>
                    </li>
                    <li>
                      <i
                        class="far fa-star fa-sm text-primary"
                        title="Poor"
                      ></i>
                    </li>
                    <li>
                      <i
                        class="far fa-star fa-sm text-primary"
                        title="OK"
                      ></i>
                    </li>
                    <li>
                      <i
                        class="far fa-star fa-sm text-primary"
                        title="Good"
                      ></i>
                    </li>
                    <li>
                      <i
                        class="far fa-star fa-sm text-primary"
                        title="Excellent"
                      ></i>
                    </li>
                  </ul>
                  <h5 class="mb-2">
                    <s class="text-muted me-2 small align-middle" *ngIf="products.discount>0">{{products.price}}</s>
                    <span class="align-middle">{{products.price - (products.price * products.discount / 100)}}</span>
                  </h5>
                </a>
                <!-- Product content -->
              </div>

              <!-- Product card -->
            </div>


          </div>
        </section>
        <!-- Section: Products -->
        <div class="text-center mt-5">
          <div>
            <nav aria-label="">
              <ul class="pagination pagination-circle mb-0 justify-content-center">
                <li class="page-item">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a
                  >
                </li>
                <div class="d-flex">
                  <li class="page-item">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">2<span class="sr-only">(current)</span></a
                    >
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">3</a>
                  </li>
                </div>

                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>
