<main class="mb-6 mt-5">
  <div class="container">
    <div class="sticky row gx-lg-5">
      <div class="fillter col-lg-3 d-block">
        <!-- Section: Filters -->
        <section class="">
          <!-- Section: Search -->
          <section class="mb-5">
            <div class="d-flex">
              <input type="search" class="form-control rounded me-1" placeholder="Search" aria-label="Search" aria-describedby="search-addon"/>
              <a href="#!" role="button" class=" btn btn-link btn-floating text-reset overflow-visible ">
                <i class="fas fa-search"></i>
              </a>
            </div>
          </section>
          <!-- Section: Search -->

          <!-- Section: Categories -->
          <section class="mb-5">
            <h5 class="fw-bold mb-4">Subcategories</h5>

            <div class="text-muted small text-uppercase">
              <p class="mb-3">
                <a href="#!" class="text-reset">Dresses</a>
              </p>
              <p class="mb-3">
                <a href="#!" class="text-reset">Tops, Tees & Blouses</a>
              </p>
              <p class="mb-3">
                <a href="#!" class="text-reset">Sweaters</a>
              </p>
              <p class="mb-3">
                <a href="#!" class="text-reset"
                >Fashion Hoodies & Sweatshirts</a
                >
              </p>
              <p class="mb-3"><a href="#!" class="text-reset">Jeans</a></p>
              <p class="mb-3"><a href="#!" class="text-reset">Pants</a></p>
              <p class="mb-3"><a href="#!" class="text-reset">Skirts</a></p>
              <p class="mb-3"><a href="#!" class="text-reset">Shorts</a></p>
              <p class="mb-3">
                <a href="#!" class="text-reset">Leggings</a>
              </p>
              <p class="mb-3"><a href="#!" class="text-reset">Active</a></p>
              <p class="mb-3">
                <a href="#!" class="text-reset">Swimsuits & Cover Ups</a>
              </p>
              <p class="mb-3">
                <a href="#!" class="text-reset">Lingerie, Sleep & Lounge</a>
              </p>
              <p class="mb-3">
                <a href="#!" class="text-reset">Jumpsuits, Rompers & Overalls</a>
              </p>
              <p class="mb-3">
                <a href="#!" class="text-reset">Coats, Jackets & Vests</a>
              </p>
              <p class="mb-3">
                <a href="#!" class="text-reset">Suiting & Blazers</a>
              </p>
              <p class="mb-0">
                <a href="#!" class="text-reset">Socks & Hosiery</a>
              </p>
            </div>
          </section>
          <!-- Section: Categories -->

          <!-- Section: Condition -->
          <section class="mb-5">
            <h5 class="fw-bold mb-4">Condition</h5>

            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" value="" id="condition1" checked/>
              <label class="form-check-label" for="condition1"> New </label>
            </div>

            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" value="" id="condition2"/>
              <label class="form-check-label" for="condition2">
                Used
              </label>
            </div>

            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" value="" id="condition3"/>
              <label class="form-check-label" for="condition3">
                Collectible
              </label>
            </div>

            <div class="form-check mb-3">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="condition4"
              />
              <label class="form-check-label" for="condition4">
                Renewed
              </label>
            </div>
          </section>
          <!-- Section: Condition -->

          <!-- Section: Price - radio -->
          <section class="mb-5">
            <h5 class="fw-bold mb-4">Price radio</h5>

            <div class="form-check mb-3">
              <input
                class="form-check-input"
                type="radio"
                name="radioForm"
                id="radioCondition1"
                checked
              />
              <label class="form-check-label" for="radioCondition1">
                Under $25
              </label>
            </div>

            <div class="form-check mb-3">
              <input
                class="form-check-input"
                type="radio"
                name="radioForm"
                id="radioCondition2"
              />
              <label class="form-check-label" for="radioCondition2">
                $25 to $50
              </label>
            </div>

            <div class="form-check mb-3">
              <input
                class="form-check-input"
                type="radio"
                name="radioForm"
                id="radioCondition3"
              />
              <label class="form-check-label" for="radioCondition2">
                $50 to $100
              </label>
            </div>

            <div class="form-check mb-3">
              <input
                class="form-check-input"
                type="radio"
                name="radioForm"
                id="radioCondition4"
              />
              <label class="form-check-label" for="radioCondition2">
                $100 to $200
              </label>
            </div>

            <div class="form-check mb-3">
              <input
                class="form-check-input"
                type="radio"
                name="radioForm"
                id="radioCondition5"
              />
              <label class="form-check-label" for="radioCondition2">
                $200 & Above
              </label>
            </div>
          </section>
          <!-- Section:  Price - radio -->

          <!-- Section: Condition -->
          <section class="mb-5">
            <h5 class="fw-bold mb-4">Colors</h5>

            <!-- Colors -->
            <input
              type="radio"
              class="btn-check"
              name="options"
              id="color-primary"
              autocomplete="off"
              checked
            />
            <label
              class="btn btn-primary btn-floating me-2 mb-2 shadow-0"
              for="color-primary"
            ></label>

            <input
              type="radio"
              class="btn-check"
              name="options"
              id="color-danger"
              autocomplete="off"
            />
            <label
              class="btn btn-danger btn-floating me-2 mb-2 shadow-0"
              for="color-danger"
            ></label>

            <input
              type="radio"
              class="btn-check"
              name="options"
              id="color-secondary"
              autocomplete="off"
            />
            <label
              class="btn btn-secondary btn-floating me-2 mb-2 shadow-0"
              for="color-secondary"
            ></label>

            <input
              type="radio"
              class="btn-check"
              name="options"
              id="color-success"
              autocomplete="off"
            />
            <label
              class="btn btn-success btn-floating me-2 mb-2 shadow-0"
              for="color-success"
            ></label>

            <input
              type="radio"
              class="btn-check"
              name="options"
              id="color-warning"
              autocomplete="off"
            />
            <label
              class="btn btn-warning btn-floating me-2 mb-2 shadow-0"
              for="color-warning"
            ></label>

            <input
              type="radio"
              class="btn-check"
              name="options"
              id="color-info"
              autocomplete="off"
            />
            <label
              class="btn btn-info btn-floating me-2 mb-2 shadow-0"
              for="color-info"
            ></label>
          </section>
          <!-- Section: Condition -->
        </section>
        <!-- Section: Filters -->
      </div>

      <div class="product col-lg-9">
        <!--Section: Sorting-->
        <section class="mb-6">
          <div class="row justify-content-around">
            <div class="col-8 text-lg-start">
              <h1>Tất cả sản phẩm</h1>
            </div>

            <div class="col-4">
            <mdb-form-control>
              <mdb-select class="select">
                <mdb-option *ngFor="let option of options" [value]="option.value">{{
                  option.label
                  }}</mdb-option>
              </mdb-select>
              <label mdbLabel class="form-label">Sort</label>
            </mdb-form-control>
            </div>

          </div>
        </section>
        <!--Section: Sorting-->

        <!-- Section: Products -->
        <section class="">
          <div class="row gx-xl-5 justify-content-center">
            <div class="col-lg-4 col-6 mb-4 text-lg-start">
              <!-- Product card -->
              <div>
                <!-- Product image -->
                <div
                  class=" bg-image ripple shadow-4-soft rounded-6 mb-4 overflow-hidden d-block" data-ripple-color="light">
                  <img src="{{product.img}}" class="w-100" alt=""/>

                    <div class="mask">
                      <div
                        class="d-flex justify-content-start align-items-start h-100 p-3">
                        <span class="badge badge-danger rounded-pill me-2">-{{product.discount}}%</span>
                      </div>
                    </div>
                    <div class="hover-overlay">

                      <div class="mask" style="background-color: hsla(0, 0%, 98.4%, 0.09)">
                        <div class=" d-flex justify-content-center align-items-end h-100 p-0">
                          <div class="add__cart"><a routerLink="/cart">+ Thêm giỏ hàng</a></div>
                        </div>
                      </div>
                    </div>

                </div>

                <!-- Product content -->
                <a href="" class="px-3 text-reset d-block">
                  <p class="fw-bold mb-2">{{product.name}}</p>

                  <ul
                    class="rating mb-2"
                    data-mdb-toggle="rating"
                    data-mdb-readonly="true"
                    data-mdb-value="4"
                  >
                    <li>
                      <i
                        class="far fa-star fa-sm text-primary ps-0"
                        title="Bad"
                      ></i>
                    </li>
                    <li>
                      <i
                        class="far fa-star fa-sm text-primary"
                        title="Poor"
                      ></i>
                    </li>
                    <li>
                      <i
                        class="far fa-star fa-sm text-primary"
                        title="OK"
                      ></i>
                    </li>
                    <li>
                      <i
                        class="far fa-star fa-sm text-primary"
                        title="Good"
                      ></i>
                    </li>
                    <li>
                      <i
                        class="far fa-star fa-sm text-primary"
                        title="Excellent"
                      ></i>
                    </li>
                  </ul>
                  <h5 class="mb-2">
                    <s class="text-muted me-2 small align-middle">{{product.price}}</s>
                    <span class="align-middle">{{product.price -(product.price*product.discount)}}</span>
                  </h5>
                </a>
                <!-- Product content -->
              </div>

              <!-- Product card -->
            </div>


          </div>
        </section>
        <!-- Section: Products -->
        <div class="text-center mt-5">
          <div>
            <nav aria-label="">
              <ul class="pagination pagination-circle mb-0 justify-content-center">
                <li class="page-item">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a
                  >
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item active" aria-current="page">
                  <a class="page-link" href="#">2<span class="sr-only">(current)</span></a
                  >
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>
